body {
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
body{
    background-color: #D7EEFF	;
}
h1{
    font-size: 80px;
    text-align: center;
    color: #4d639f;
    margin: 0px 0px ;
}
h3{
    text-align: center;
}
.bt{
 text-align: center;
 margin: 0 auto;
}
input.b1{
    
    font-size:50px;
    font-weight: bold;
    padding: 30px 40px;
    color:white;
    background-color: #4d639f;
}

input.b2{
    font-size:50px;
    font-weight: bold;
    padding: 30px 40px;
    color:white;
    background-color: #4d639f;
}
.kensaku{
     text-align: center;
      margin: 0 auto;
}
input.textb1{
    font-size:30px;
}
input.textb2{
    font-size:30px;
}
input.textb3{
    font-size:30px;
}

input.textb4{
    font-size:30px;
}
input.textb5{
    font-size:30px;
}
input.textb6{
    font-size:30px;
}
input.textb7{
    font-size:30px;
}
input.textb8{
    font-size:30px;
}
/*input.textb9{
    font-size:30px;
}

input.textb10{
    font-size:30px;
}
input.textb11{
    font-size:30px;
}
input.textb12{
    font-size:30px;
}
.kensaku2{
   
    margin: 0 auto;
}*/
.kensaku label{
   padding-left:   38px;     /* ラベルの位置 */
  font-size:    32px;
  line-height:    32px;
  display:    inline-block;
  cursor:     pointer;
  position:   relative;
}
/* ボックスのスタイル */
.kensaku label:before {
  content:    '';
  width:      32px;     /* ボックスの横幅 */
  height:     32px;     /* ボックスの縦幅 */
  display:    inline-block;
  position:   absolute;
  left:     0;
  background-color: #fff;
  -webkit-box-shadow:   inset 1px 2px 3px 0px #000;
  box-shadow:   inset 1px 2px 3px 0px #000;
  border-radius:    6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.kensaku input[type=checkbox] {
  display:    none;
}
/* チェックした時のスタイル */
.kensaku input[type=checkbox]:checked + label:before {
  content:    '\2713';    /* チェックの文字 */ 
  font-size:    34px;     /* チェックのサイズ */
  color:      #fff;     /* チェックの色 */
  background-color: #00FF33	;     /* チェックした時の色 */
}
.btn{
    text-align: center;
      margin: 0 auto;
}
input.b4{
    font-size:50px;
    font-weight: bold;
    padding: 30px 40px;
    color:white;
    background-color: #4d639f;
}
.text{
    font-size:40px;
}
.text2{
    font-size:40px;
}