h1{
    font-size: 90 px;
    text-align: center;
}
.bt{
 text-align: center;
 margin: 0 auto;
}
button.b1{
    
    font-size:50;
    font-weight: bold;
    padding: 30 px 60 px;
}
button.b2{
    font-size:50;
    font-weight: bold;
    padding: 30 px 60 px;
}
button.b3{
    font-size:50;
    font-weight: bold;
    padding: 30 px 60 px;
}